.achievements {
   padding-top: 18rem;
   margin: 0 3%;

   display: flex;
   gap: 2.4rem;

   @media screen and (max-width: $br-md) {
      padding-top: 5rem;

      flex-wrap: wrap;
   }
}

.achievements__info,
.achievements__values {
   flex-basis: calc(50% - 1.2rem);

   @media screen and (max-width: $br-md) {
      flex-basis: calc(100% - 2.4rem);
   }
}

.achievements__info {
   .achievements__title {
      font-size: 5.2rem;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media screen and (max-width: 420px) {
         font-size: 4rem;
      }
   }

   .achievements__title-service {
      max-width: 53rem;

      font-size: 3.2rem;
   }

   .decoration {
      margin: 4rem auto 6rem;
      justify-content: center;
   }

   .achievements__description {
      max-width: 53rem;

      font-family: $fontMedium;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 120%;
      letter-spacing: 0.03em;
   }

   .block-logos {
      max-width: 53rem;
      display: flex;
      flex-wrap: wrap;

      img {
         display: block;
         padding: 5rem;
         flex-basis: calc(50% - 10rem);
      }
   }
}

.achievements__values {
   display: flex;

   .achievements__block {
      .achievements__item {
         padding: 2.5rem 2rem 3.5rem;

         display: flex;
         flex-direction: column;
         align-items: center;

         border: 1px solid #898989;
      }

      .achievements__item:not(:last-child) {
         border-bottom: none;
      }

      strong {
         color: $colorSecond;
         font-size: 4.4rem;
         line-height: 140%;
         letter-spacing: 0.05em;
         text-transform: uppercase;

         span {
            font-size: 2.4rem;
         }
      }

      .achievements__block-description {
         margin: 0;

         font-size: 1.6rem;
         line-height: 140%;
         text-align: center;
         letter-spacing: 0.05em;
         text-transform: uppercase;
      }

      .achievements__item-icon {
         margin-bottom: 2.2rem;
      }
   }

   .achievements__block:last-child {
      margin-top: 4rem;
   }
}
