.qestion-form {
   padding-top: 18rem;

   .decoration {
      margin: 4rem 0 6rem;
   }
}

.form {
   margin: 0 auto;
   max-width: 63.6rem;

   @media screen and (max-width: 650px) {
      margin: 0 3%;
      max-width: 62rem;
   }

   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 2.4rem;

   .form__input-name {
      grid-column: 1/7;

      @media screen and (max-width: 450px) {
         grid-column: 1/13;
      }
   }

   .form__input-tel {
      grid-column: 7/13;

      @media screen and (max-width: 450px) {
         grid-column: 1/13;
      }
   }

   .form__input-textarea {
      grid-column: 1/11;

      min-height: 15rem;
      resize: none;

      @media screen and (max-width: 450px) {
         grid-column: 1/13;
      }
   }

   .form__input-name,
   .form__input-tel,
   .form__input-textarea {
      padding: 1.5rem 0 1rem 2.5rem;
      border: 1px solid #898989;

      background-color: inherit;

      color: $colorMain;
      font-size: 1.6rem;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      &:focus,
      &:active {
         border: 1px solid #db3138;
      }
   }

   .form__input-links {
      grid-column: 12/13;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;

      @media screen and (max-width: 450px) {
         grid-column: 1/13;
         flex-direction: row;
         justify-content: center;
      }

      .form__input-link {
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid #898989;
         padding: 1.4rem 1rem;

         &:focus {
            border: 1px solid $colorSecond;
         }

         &:hover svg path,
         &:focus svg path {
            fill: $colorSecond;
         }
      }
   }

   .form__btn {
      grid-column: 1/4;

      color: $colorMain;

      @media screen and (max-width: 450px) {
         grid-column: 1/13;
         justify-self: center;
      }
   }

   .form__info {
      grid-column: 7/13;

      display: flex;
      flex-wrap: wrap;

      font-size: 1.6rem;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media screen and (max-width: 650px) {
         grid-column: 5/13;
      }

      @media screen and (max-width: 450px) {
         grid-column: 1/13;
         justify-self: center;
      }

      .form__info-address,
      .form__info-tel,
      .form__info-mail {
         display: flex;
         align-items: center;
         gap: 1rem;
      }

      .form__info-address {
         flex-basis: 100%;
         margin-bottom: 1.5rem;
      }

      .form__info-tel,
      .form__info-mail {
         flex-basis: calc(50% - 3rem);
         margin-left: 3rem;

         @media screen and (max-width: 350px) {
            margin-left: 0;
            flex-basis: 100%;
         }
      }
   }
}
