.slider {
   position: relative;
   margin-top: 18rem;

   .slider__content {
      .slider__item {
         margin-right: 1.4rem;
         margin-left: 1.4rem;

         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .slider__item-description {
         position: relative;
         z-index: 1;

         max-width: 28.6rem;
         margin-top: -10px;

         font-size: 1.8rem;
         line-height: 140%;
         text-align: center;
         letter-spacing: 0.05em;
         text-transform: uppercase;

         &::before {
            position: absolute;
            z-index: -1;
            transform: translate(-4rem, -2.5rem);

            content: "";
            display: block;
            width: 36.6rem;
            height: 7rem;

            background-color: $colorSecond;
         }
      }
   }
}

.slider__arrow {
   position: absolute;
   top: 50%;

   padding: 2.4rem 2.4rem;
   width: 50px;
   height: 50px;
   border: 3px solid #db3138;
   display: flex;
   align-items: center;
   justify-content: center;

   &:hover {
      background: $colorSecond;
   }

   img {
      transform: rotate(45deg);
   }
}

.arrow-left {
   left: 0;
   transform: translate(-10rem, -50%) rotate(-45deg);
}

.arrow-right {
   right: 0;
   transform: translate(10rem, -50%) rotate(-45deg);
}