.hero-title__container {
   display: flex;
   flex-direction: column;

   .hero-title {
      margin-top: 17rem;
      margin-bottom: 1rem;

      font-weight: 700;
      font-size: 15rem;
      line-height: 125%;
      font-family: $fontBold;
      color: $colorSecond;
      text-align: center;
   }

   .hero-description {
      max-width: 44rem;
      margin: 4rem auto;

      font-family: $fontMedium;
      font-weight: 500;
      font-size: 4rem;
      line-height: 120%;
      text-align: center; 
   }

   .hero-btn {
      margin: 0 auto 10rem;
      max-width: 17rem;
      width: 100%;
   }
}

