<div class="container">
   <div class="achievements">
      <div class="achievements__info">
         <h2 class="achievements__title">наши достижения от кубка россии до чемпионатов мира</h2>
         <div class="decoration">
            <span class="roumb"></span>
            <span class="roumb"></span>
            <span class="roumb"></span>
            <span class="roumb"></span>
         </div>
         <p class="achievements__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant
            tincidunt aliquam tincidunt pretium sodales. Tristique odio pellentesque et tincidunt posuere arcu purus
            lobortis risus. Urna, ut amet odio orci magnis praesent ultrices. Praesent malesuada lacus tellus tristique
            sit at. Sed viverra nulla nam arcu, non iaculis pretium, volutpat. </p>
      </div>
      <!-- achievements__info -->
      <div class="achievements__values">
         <div class="achievements__block">
            <div class="achievements__item">
               <strong><span>#</span>1</strong>
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
            <div class="achievements__item">
               <strong><span>#</span>6</strong>
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
            <div class="achievements__item">
               <strong><span>#</span>2</strong>
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
            <div class="achievements__item">
               <strong><span>#</span>1</strong>
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
         </div>
         <!-- achievements__block 1-->
         <div class="achievements__block">
            <div class="achievements__item">
               <strong><span>#</span>4</strong>
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
            <div class="achievements__item">
               <strong><span>#</span>3</strong>
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
            <div class="achievements__item">
               <strong><span>#</span>1</strong>
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
            <div class="achievements__item">
               <img src="assets/images/achievements-services/icons/cup.svg" alt="cup" class="achievements__item-icon">
               <p class="achievements__block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque dui</p>
            </div>
         </div>
         <!-- achievements__block 2-->
      </div>
      <!-- achievements__values -->
   </div>
</div>