<div class="works" id="works">
   <h2 class="works__title block__title">Наши услуги</h2>
   <div class="decoration">
      <span class="roumb"></span>
      <span class="roumb"></span>
      <span class="roumb"></span>
      <span class="roumb"></span>
   </div>
   <div class="works__icons">
      <img src="../../assets/images/works/photo1.jpg" alt="">
      <img src="../../assets/images/works/photo2.jpg" alt="">
      <img src="../../assets/images/works/photo3.jpg" alt="">
      <img src="../../assets/images/works/photo4.jpg" alt="">
      <img src="../../assets/images/works/photo5.jpg" alt="">
      <img src="../../assets/images/works/photo6.jpg" alt="">

      <img src="../../assets/images/works/photo6.jpg" alt="">
      <img src="../../assets/images/works/photo5.jpg" alt="">
      <img src="../../assets/images/works/photo4.jpg" alt="">
      <img src="../../assets/images/works/photo3.jpg" alt="">
      <img src="../../assets/images/works/photo2.jpg" alt="">
      <img src="../../assets/images/works/photo1.jpg" alt="">

      <img src="../../assets/images/works/photo1.jpg" alt="">
      <img src="../../assets/images/works/photo2.jpg" alt="">
      <img src="../../assets/images/works/photo3.jpg" alt="">
      <img src="../../assets/images/works/photo4.jpg" alt="">
      <img src="../../assets/images/works/photo5.jpg" alt="">
      <img src="../../assets/images/works/photo6.jpg" alt="">
   </div>
</div>