*, *::after, *::before {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: $fontMain;
   color: $colorMain;
   background-color: $bgcolor;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
}

ul {
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

nav {
   margin: 0;
}

.container {
   max-width: 1296px;
   width: 100%;
   margin: 0 auto;
}

.hero {
   background: #1E1E1E url(../images/header/background.jpg) no-repeat center center;
   background-size: cover;
}

.decoration {
   display: flex;
   justify-content: center;
   gap: 3rem;

   .roumb {
      display: block;
      background: url(../images/roumb.svg) no-repeat center;
      background-size: cover;
      width: 1.5rem;
      height: 1.5rem;
   }
}

.block__title {
   font-size: 5.2rem;
   line-height: 140%;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}