*,
*::after,
*::before {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: $fontMain;
   color: $colorMain;
   background-color: $bgcolor;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
}

ul {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

nav {
   margin: 0;
}

.container {
   max-width: 1296px;
   width: 100%;
   margin: 0 auto;
}

.hero {
   min-height: 100rem;
   width: 100%;
   background: #1e1e1e url(../images/header/background.jpg) no-repeat center center;
   background-size: cover;

   @media screen and (max-width: 700px) {
      min-height: 50rem;
   }
}

.decoration {
   display: flex;
   justify-content: center;
   gap: 3rem;

   .roumb {
      display: block;
      background: url(../images/roumb.svg) no-repeat center;
      background-size: cover;
      width: 1.5rem;
      height: 1.5rem;
   }
}

.block__title {
   font-size: 5.2rem;
   line-height: 140%;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;

   @media screen and (max-width: 450px) {
      font-size: 3rem;
   }
}

.block__title-services {
   max-width: 63.6rem;
   margin-right: auto;
   margin-left: auto;
}
