// fonts
$fontMain: "Main";
$fontMedium: "Medium";
$fontdold: "Bold";

//colors
$colorMain: #ffffff;
$colorSecond: #db3138;

//background-color
$bgcolor: #1e1e1e;

//braick-points
$br-xxl: 1400px;
$br-xl: 1200px;
$br-lg: 992px;
$br-md: 768px;
$br-sm: 576px;
$br-mobile: 320px;
